.item-for-sale-container {
    max-width: 800px;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item-for-sale-container h2 {
    margin-bottom: 30px;
}

.item-for-sale-details {
    border-collapse: collapse;
    width: 100%;
}

.item-for-sale-details th,
.item-for-sale-details td {
    padding: 4px;
    text-align: left;
}

.item-for-sale-details th {
    background-color: #f2f2f2;
}

.item-for-sale-details td:nth-child(odd) {
    font-weight: bold;
}

.item-for-sale-bids {
    border-collapse: collapse;
    width: 100%;
}

.item-for-sale-bids th,
.item-for-sale-bids td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.item-for-sale-bids th {
    background-color: #f2f2f2;
}
.auction-ends th{
    text-align: left;
    padding: 8px;
}

.auction-ends{
    margin-top: 25px;
}

.user-bid {
    margin-top: 20px;
    display: flex;
}

.user-bid input[type="number"] {
    /*padding: 5px;*/
    margin-right: 10px;
}

.user-bid-price {
    display: flex;
    flex-direction: column;
}

.dollar-sign {
    margin-left: 10px;
}

.user-bid p {
    display: inline;
    margin-right: 5px;
}

.item-for-sale-details button {
    padding: 3px 12px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

.item-for-sale-details button:hover {
    background-color: #0056b3;
}

.item-for-sale-btns {
    display: flex;
    justify-content: flex-end;
}

.item-for-sale-btns button {
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

.item-for-sale-btns button:hover {
    background-color: #0056b3;
}

